<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="contoller_action_predispatch">
        <observer name="TestObserver" instance="Shishmakov\Test\Observer\TestObserver" />
    </event>

</config>